# Dependencias
/node_modules
/.pnp
.pnp.js

# Entorno de desarrollo
.env
.env.local
.env.development
.env.test
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor e IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build
/dist
/.out
/out
/.next
/build

# Cache
.cache
.temp
*.tmp

# Misc
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo

# Vite
*.local

# Testing
/coverage
/.nyc_output

# Sistema operativo
Thumbs.db